ul.header_li li {
    display: inline;
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px;
  }


  .logot {
    width: 100px;
  }



  


